@using WebPortal.Domain.Entities
@model IEnumerable<Person>

@{
    ViewBag.Title = "Employees";
}

@foreach (var p in Model)
            {
                <div>
                    <h2>@p.InternalName</h2>
                    @p.CentralAccount
                    @p.DefaultEmailAddress
                    @p.UID_Person
                </div>
            }
